<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Competency Tracker</title>
    <link rel="stylesheet" href="../../static/Css/navbar.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="../../static/Images/logo.png" class="Logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <img src="../../static/Images/logo.png" class="user-pic" onclick="toggleMenu()">

            <div class=" sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="../../static/Images/logo.png">
                        <h2>John Doe</h2>
                    </div>
                    <hr>

                    <a href="#" class="sub-menu-link">
                        <img src="../../static/Images/logo.png">
                        <p>Profile</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../../static/Images/logo.png">
                        <p>Notifications</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../../static/Images/logo.png">
                        <p></p>
                        <span>Settings</span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../../static/Images/logo.png">
                        <p>Logout</p>
                        <span></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <main class="content">

    </main>

    <script src="../../static/JavaScript/navbar.js"></script>
</body>
</html>