<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/signup.css') }}">
    <title>Sign Up</title>
</head>
<body>

    
    <video autoplay loop muted playsinline class="live-background">
        <source src="../../static/Images/livebackground.mp4" type="video/mp4">
    </video>

    <header>
        <div class="logo">
            <img src="../../static/Images/logo.png" alt="Logo">
        </div>
        <h1>Career Competency Tracking System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main_views.home') }}">Home</a></li>
                <li><a href="{{ url_for('auth_views.login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Sign Up</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth_views.signup') }}">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
            <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
            <select name="user_type" class="form-control">
                <option value="student">Student</option>
                <option value="admin">Administrator</option>
                <option value="employer">Employer</option>
            </select>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <br>
        <p>Already have an account? <a href="{{ url_for('auth_views.login') }}" class="glow-red">Login</a></p>
    </div>

    <footer>
        <p>&copy; 2025 Career Competency Tracking System. All Rights Reserved.</p>
    </footer>

</body>
</html>
